@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
    font-family: 'Kanit', sans-serif;
}

.header{
    background: rgb(33, 33, 33);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.377);
}

.logo_h{
    margin-top: -40px;
    margin-bottom: -70px;
}

.menu{
    font-size: 18px;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.h-name{
    letter-spacing: 5px;
    color: white;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    margin: 0px;
    text-align: right;
}

.socmed{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-bottom: 1px solid white;
}

.socmed a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.wpp, .insta, .vk{
    position: relative;
    width: 200px;
    display: flex;
    justify-content: center;
}

.wpp_img, .insta_img, .vk_img{
    position: relative;
    width: 15%;
}

.main_m{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top{
    display: flex;
    flex-direction: column;
}

footer{
    padding-top: 6px;
    padding-bottom: 13px;
    padding-right: 20%;
    padding-left: 20%;
    background-color: rgb(230, 230, 230);
}

.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(90, 90, 90);
    font-size: 14px;
}

.soc_link img {
    height: 25px;
    width: 25px;
}


.soc_link{
    border-radius: 3px;
    transition: 0.1s;
    margin-left: 20px;
    padding-bottom: 10px;
}

/*.soc_link:hover{*/
/*    border-bottom: 4px solid black;*/
/*}*/

.li_text a{
    color: rgb(90, 90, 90);
    text-decoration: none;
    transition: 0.5s;
    cursor:pointer;
    padding: 5px;
}

.li_text a:hover{
    color: white;
}

.li_text p{
    color: rgb(90, 90, 90);
    margin-top: 0px;
    font-size: 20px;
}

.fir_part{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foot_logo img{
    width: 80px;
}

.foot_logo{
    margin-right: 30px;
}

.nav-link:hover {
    color: orange;
}

.nav-link{
    padding: 0%;
}

.nav-link:focus{
    color: orange;
}